.text-green{
    color:	#24ff02
}

.text-green-50{
    color: 	#1fea00b2;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
  }

.wrapper{
    display: flex;
    flex-direction: column;
}

input,textarea{
    width: 100%;
}

.tableFixHead {
    overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
    height: 250px; /* gives an initial height of 200px to the table */
  }
  .tableFixHead thead th {
    position: sticky; /* make the table heads sticky */
    top: 0px; /* table head will be placed from the top of the table and sticks to it */
  }

table{
    width:100%;
}

td,th {
    padding: 8px;
  }
  
tr:nth-child(even){background-color: #08080859;}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1bc700;
    color: white;
  }

  .navbar{
    background-color: black;
  }